aiohttp>=3.9.4
beautifulsoup4==4.12.3
duckduckgo_search==6.1.0
fake_useragent==1.5.1
fastapi==0.110.3
html2text==2024.2.26
langchain==0.3.13
langchain-community>=0.3.13
langchain-core==0.3.28
langchain-google-genai==2.0.7
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
openai>=1.58.1
opencv_python==4.9.0.80
pdf4llm==0.0.7
pikepdf==8.13.0
Pillow==10.3.0
piper_tts==1.2.0
pydantic>=2.7.4
PyMuPDF==1.24.2
pypdf==4.0.2
python_doctr==0.7.0
requests>=2.32.0
sentence_transformers==2.7.0
tiktoken==0.8.0
torch>=2.6.0
torchvision>=0.20
tqdm==4.66.4
uvicorn==0.29.0
weaviate_client==4.5.1